# --- Kafka Streaming & Event Handling ---
confluent-kafka==2.3.0
fastavro==1.9.3

# --- Snowflake Data Warehouse ---
snowflake-connector-python==3.7.0
snowflake-connector-python[pandas]==3.7.0
snowflake-sqlalchemy==1.5.1

# --- API & Data Ingestion ---
requests==2.31.0
tenacity==8.2.3

# --- Data Transformation & Utility ---
pandas==2.1.4
numpy==1.26.3
python-dotenv==1.0.1
